<header id="site-head">
    {% if site.logo %}
       <a id="blog-logo" href="{{ site.url }}">
        <img src="{{ site.baseurl }}{{ site.logo }}" alt="Blog Logo" />
       </a>
    {% endif %}
    <h1 class="blog-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
    <h2 class="blog-description">{{ site.description }}
    | <a href='{{site.baseurl}}/about'> About me </a>
    | <a href='https://github.com/dag10'> Projects </a>
    | <a href='{{site.baseurl}}/resume.pdf'> Resume </a>
    | <a href='//old.minipenguin.com'> Old Blog </a>
    </h2>
</header>
